.SignIn {
    display: flex;
    height: 100%;
    width: 100vw;
    height: 100vh;
    color: #EEEEEE;

    .left {
        flex: 1;
        overflow: hidden;
        position: relative;
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #0F044C;

        .img {
            img{
            height: 600px;
            width: 600px;
            }
        }

        @media(max-width:701px) {
            display: none;
        }
    }

    .right {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #EEEEEE;
        flex: 1;
        height: 100%;
        width: 100%;
        overflow: hidden;
        
        @media(max-width:1240px) {
            overflow-y: scroll;
        }

        .wrapper {
            display: flex;
            flex-direction: column;
            width: auto;

            // Tag line styling
            h1 {
                text-align: center;
                // margin: 30px 0;
                font-size: 35px;
                color: #141E61;
                @media(max-width:1240px) {
                    font-size: 28px;
                    margin-top: 70px;
                }

                span {
                    color: #141E61;
                    font-weight: lighter;
                }

                @media(max-width:1100px) {
                    font-size: 25px;
                }
            }

            // From Container Start
            form {
                width: auto;
                padding: 20px 30px;
                border: none;
                border-radius: 4px;
                background-color: transparent;

                div {
                    label {
                        display: block;
                        margin-bottom: 5px;
                        font-size: 18px;
                        color: #141E61;
                    }

                    input,
                    select,
                    option {
                        width: 95%;
                        padding: 8px;
                        border: 1px solid #141E61;
                        border-radius: 4px;
                        margin: auto;
                        color: #141E61;
                        background-color: transparent;
                    }

                    option {
                        color: #EEEEEE;
                        background-color: #141E61;
                    }
                }

                // Login Sign Container
                .btns {
                    display: flex;
                    margin-top: 30px;
                    align-items: center;
                    justify-content: space-between;

                    // Login /SignUp Button
                    button {
                        width: 50%;
                        padding: 10px;
                        background-color: transparent;
                        color: #0F044C;
                        border: 1px solid #0F044C;
                        cursor: pointer;
                        font-size: 18px;
                        transition: all 200ms ease-in;
                        border-radius: 4px;

                        &:hover {
                            color: #EEEEEE;
                            background-color: #0F044C;
                        }
                    }

                    a {
                        font-size: 16px;
                        transition: all 200ms ease-in;
                        color: #141E61;

                        &:hover {
                            transform: scale(1.1);
                        }
                    }

                    @media(max-width:1100px) {
                        flex-direction: column;
                        gap: 10px;
                    }
                }
            }

            // Form Container End 
        }
    }
}